.body {
  background-color: lightgray
}
.navbar-nav {
float: right

}
  
.navbar-brand {
  color: white !important;;
  background-color: gray;
  font-weight: bold;
  font-size: 40px;
  float: inline-end;
}

 .container-fluid { 
   padding: 50px;
  height: auto;
  widows: auto;
 
  

}
.card-body {

object-fit: cover
}

.image {
  float: left;
  /* object-fit: cover; */
  width: 250px;
  height: 150px;
  margin-right: 20px
}

.firsttitle {
color: gray

}

.second-title {

  color: black
}

.h1 {

  color: gray;
  padding: 20px

}

.h7 {

  padding: 50px;
}

@media (max-width: 480px) {
  .navbar li {
    padding: 10px;
  }
  }
 
  

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}